body {
    margin: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro-task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-task * {
    margin: 5px;
}

.intro-task img {
    max-width: 25px;
    max-height: 25px;
}

.background-content {
    display: flex;
    flex-direction: row;
    /* width: 50%; */
}

.background-text {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    text-align: center;
    align-items: center;
    margin: 0 50px 0 0;
    width: 30%;
}

.link-icons {
    display: flex;
    flex-direction: row;
}

.link-icons a {
    margin: 5px;
}

.background-text img {
    width: 25px;
    max-height: 25px;
}

.background-text a {
    display: block;
    width: 25px;
}

.background-image {
    height: 300px;
    max-width: 300px;
    border-radius: 25px;
}

.project-skills span {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
}

.project-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-title > * {
    margin-right: 5px;
}

.projects h4 {
    display: inline;
}

.projects img {
    height: 15px;
    max-width: 15px;
    margin-left: 5px;
}

.skill-icons-grid {
    display: flex;
    flex-direction: column;
}

.skill-icons-row {
    display: flex;
    flex-direction: row;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.skill-icon-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80%;
    margin: 0;
}

.skill-icon img {
    max-width: 100%;
    max-height: 100%;
    /* filter: brightness(0%) */
}

.skill-icon img:hover {
    filter: brightness(100%)
}

.skill-icon h3 {
    font-size: 16px;
    height: 15%;
    margin: 5% 0;
}